<div class="container">
  <h1>Authors</h1>
  <nav>
    <%= link_to("View Books", books_path) %> / <%= link_to("View Authors", authors_path) %> / <%= link_to("Add a Book", new_book_path) %>
  </nav>
  <div class="content">
    <% @authors.each do |author| %>
      <ul>
        <li><%= link_to(author.name, author_path(author.id)) %></li>
      </ul>
    <% end %>
  </div>
</div>