<div class="container">
  <h1>Book page</h1>
  <div class="content">
    <div class="form-flex">
      <div class="label">Title</div>
      <div class="input"><%= @book.title %></div>
      <div class="label">Author</div>
      <div class="input"><%= @author %></div>
    </div>
  </div>
</div>